@import "vars"

// news page
.page-news
  background: url('../img/news-bg.svg') no-repeat center top
  background-size: cover  

.news-card
  width: 100%
  height: 100%
  display: flex
  flex-direction: column
  background: #EDFBF7
  border-radius: 14px
  overflow: hidden
  color: #585858
  &__img
    width: 100%
    height: 340px
    @include d-flex
    overflow: hidden
    padding: 10px
    background: #fff
  &__body
    width: 100%
    height: calc( 100% - 340px ) 
    padding: 20px
    display: flex
    flex-direction: column
  &__name
    font-size: 20px
    font-weight: bold
    color: #5D2C3F
    &:hover
      color: $accent
  .box-text
    margin: 10px 0
  &__footer
    margin: auto 0 0 
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between
  &__date
    font-size: 14px
    font-weight: 500
    color: $accent
  &__link
    @include d-flex
    width: 50px
    min-width: 50px
    height: 50px
    border-radius: 12px
    background: #fff 
    padding: 13px
    stroke: $accent
    &:hover
      background: $hover
      stroke: #fff

// article page
.page-article
  background: url('../img/article-bg.svg') no-repeat center top
  background-size: cover 
  padding-bottom: 75px
  &__text
    color: #585858
    line-height: 150%
  &__img
    width: 100%
    height: 530px
    @include d-flex
    border-radius: 14px
    background: #F1F2F2  
    overflow: hidden

.gallery-section
  margin: 100px 0 80px 


.gallery-slider
  .slick-list
    margin: 0 -20px 0 0
  .slick-slide
    margin: 0 20px 0 0
  &__item
    width: 100%
    height: 250px
    @include d-flex
    overflow: hidden
    border-radius: 14px
    img
      width: 100%
      height: 100%
      object-fit: cover

.video-wrapper
  width: 100%
  height: 530px
  @include d-flex
  
  position: relative
  z-index: 1
  background: #EDFBF7
  border-radius: 14px
  font-size: 16px
  font-weight: 600
  &::before
    content: ''
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    background: #000
    opacity: .4
    z-index: 1
    border-radius: 14px
  &::after
    content: ''
    position: absolute
    top: 110px
    left: -103px
    z-index: -2  
    width: 185px
    height: 180px
    background: url('../img/decor1.svg') no-repeat center
    background-size: cover 
  &__link
    position: absolute
    z-index: 2
    top: 10px
    right: 10px
    @include d-flex
    width: 50px
    height: 50px
    min-width: 50px
    background: $hover
    stroke: #fff
    fill: none
    padding: 13px
    border-radius: 12px
    cursor: pointer
    &:hover
      background: $accent
  img
    width: 100%
    height: 100%
    object-fit: cover
    overflow: hidden
    border-radius: 14px
  &__title
    width: 100%
    position: absolute
    left: 0
    bottom: 0
    z-index: 1
    color: #fff
    display: block
    padding: 20px    
      



// contacts page
.page-contacts
  background: url('../img/contacts-bg.svg') no-repeat center top
  background-size: cover
  
.contacts-box
  width: 100%
  height: 100%
  background: #fff
  padding: 20px
  border-radius: 14px
  display: flex
  align-items: flex-start
  flex-wrap: wrap
  margin: 0 0 10px
  color: #585858
  &:last-child
    margin: 0
  &__icon
    @include d-flex
    padding: 13px
    fill: $accent
    width: 50px
    height: 50px
    min-width: 50px
    border-radius: 12px
    background: #EDFBF7
    margin-left: auto
    &.fill-none
      fill: none
      stroke: $accent
  a, p
    font-size: 18px
    font-weight: bold
    color: #5D2C3F
  span
    display: block
    font-size: 14px
    line-height: 150%
    margin: 5px 0 0  
  .link-page
    margin: auto 0 0
    font-weight: 500
    font-size: 14px
    color: $accent    

.map-wrapper
  @include d-flex
  overflow: hidden
  width: 100%
  height: 500px
  border-radius: 14px    
  iframe
    width: 100%
    height: 100%
    border-radius: 14px     

// catalog page
.page-catalog
  background: url('../img/catalog-bg.svg') no-repeat center top
  background-size: cover
  padding-bottom: 550px
  margin: -250px 0 -530px

  
.product-card
  width: 100%
  height: 100%
  background: #EDFBF7
  border-radius: 14px  
  padding: 70px 20px 40px
  position: relative
  z-index: 1
  &__link
    @include d-flex
    margin: 0 0 0 auto
    position: absolute
    right: 10px
    top: 10px
    width: 50px
    height: 50px
    min-width: 50px
    background: #fff
    stroke: $accent
    padding: 13px
    border-radius: 12px
    &:hover, &:focus
      background: $hover
      stroke: #fff
  &__img
    @include d-flex
    max-width: 165px
    width: 100%
  &__title
    font-size: 24px
    font-weight: bold
    color: #5D2C3F
    &:hover
      color: $accent  

.callback-section
  padding: 250px 0 165px
  background: url('../img/callback-bg.svg') no-repeat center top
  background-size: cover  
  h2
    font-size: 36px
    margin: 0 0 20px
  .form-callback
    max-width: 387px
    width: 100%  

// about page
.page-about
  background: url('../img/about-bg.svg') no-repeat center top
  background-size: cover
  padding-bottom: 260px

.about-box
  text-align: center
  width: 100%
  font-size: 18px
  font-weight: bold
  color: #585858
  margin: 0 0 60px
  &__icon
    @include d-flex
    margin: 0 auto 25px
    width: 120px
    height: 120px
    min-width: 120px
    background: #fff
    border-radius: 50%
    border: 5px solid #7DC0B9
    font-size: 24px
    font-weight: 800
    text-align: center
    color: $accent
  &__text
    line-height: 150%  

.about-information
  margin: 120px 0 100px
  .block-title-decor
    &::before
      right: 0
      top: 0
  &__text
    width: 100%
    background: #fff
    padding: 30px
    border-radius: 14px
    position: relative
    z-index: 1
    color: #585858
    line-height: 150%
    &::before
      content: ''
      position: absolute
      width: 20px
      height: 20px
      top: -4px
      right: -4px
      border-radius: 50%
      border: 3px solid #7DC0B9
      background: #fff


.logo-img
  margin: 54px 0 0 auto
  max-width: 270px
  width: 100%
  img
    width: 100%  

.certificates-section
  h2
    font-size: 36px

.certificates-slider
  .slick-slide
    margin: 0 20px 0 0
  .slick-list
    margin: 0 -20px 0 0      
      
.certificate-card
  width: 100%
  height: 403px
  position: relative
  z-index: 1
  overflow: hidden
  border-radius: 14px
  background: #fff url('../img/rectangle-18.png') no-repeat center
  background-size: cover
  padding: 5px
  color: #fff
  font-size: 16px
  font-weight: 600
  &__link
    position: absolute
    z-index: 1
    top: 10px
    right: 10px
    width: 50px
    height: 50px
    background: #fff
    fill: $accent
    border-radius: 12px
    padding: 13px
    @include d-flex
    transition: .3s ease
    &:hover
      background: $hover
      fill: #fff
  &__name
    width: 100%
    height: 160px
    display: flex
    justify-content: flex-start
    align-items: flex-end
    position: absolute
    left: 0
    bottom: 0
    padding: 20px
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(0,0,0,0.6) 100%)